* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* header style start  */

header {
    background-color: rgba(255, 144, 14, 0.1);

}

/* header style ends */

/* navigation bar styles start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 120px;
}

nav ul {
    display: flex;
    margin-top: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    margin-right: 30px;
    color: #424242;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.brand-name {
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    align-items: center;
    margin-top: 50px;
}

/* navigation bar styles end */

/* shared styles start */

.dark-2 {
    color: rgb(66, 66, 66);
}

.dark-3 {
    color: rgb(114, 114, 114);
    line-height: 26px;
}

.second-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.text-align {
    text-align: center;
}

.primary-btn {
    border: 0;
    outline: 0;
    padding: 20px 25px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    margin-top: 32px;
    margin-bottom: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

/* shared styles end */

/* banner content styles start */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
}

.banner-title {
    font-weight: bolder;
    font-size: 4rem;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
}

.banner-image {
    margin: 0 240px;
    max-width: 100%;
    margin-bottom: 45px;
}

/* banner content styles ens */

/* main section styles start */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 100px;
}

/* main section styles end */

/* feature section styles start */



.feature-container {
    display: flex;
    gap: 80px;
    align-items: center;
}

.feature-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.feature-text {
    max-width: 537px;
    height: 304px;
}

.feature-text>h3 {
    margin-bottom: 24px;
    font-size: 3rem;
    font-weight: 700;
}

.of-our {
    color: #131313;
}

.feature {
    color: #FF900E;
}

/* feature section styles end */

/* some facts styles start */

.section-title {
    margin-bottom: 24px;
    font-size: 3rem;
    font-weight: 700;
}

.section-description {
    line-height: 26px;
}

/* some facts styles end */


/* facts styles start */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    margin-top: 100px;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    justify-content: center;
    height: 241.83px;
    display: flex;
    text-align: center;
    align-items: center;
}

.fact-number {
    color: rgb(66, 66, 66);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 9px;
}

.fact-name {
    font-size: 20px;
    font-weight: 600;
}

/* facts styles end */

/* exprience section style start */
.experience{
    display: flex;
    gap: 130px;
}

#experience-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 29px;
}
.exprience-title{
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 23px;
}

#ex-title{
    margin-bottom: 30px;
}
#btn{
    padding: 45px 40px;
    margin-left: -120px;
    margin-top: -100px;
}
#ten-year{
    font-size: 4.5rem;
    font-weight: 700;
}
.exprience-box{
    margin-bottom: 30px;
}
.experience-box-title{
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 10px;
}
.exprience-box{
    max-width: 580px;
    padding: 34px;
    border-radius: 9px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.exprience-content > img{
    width: 100%;
}
/* exprience section style end */

/* sponsed styles start */

.sponser-text{
    max-width: 540px;
    margin: 0 auto;
}
.sponser-text > h3{
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 23px;
}
.sponser-text > p{
    line-height: 26px;
}
.sponser-icon{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    margin-top: 50px;
}
.sponser-icon > img{
    filter : grayscale(100%)
}
/* sponsed styles end */

/* footer section start  */

footer{
    background-color: rgb(255, 244, 231);
    line-height: 100px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 100px;
    border-radius: 8px;
}

.footer-section{
    color: rgb(66, 66, 66);
    font-size: 20px;
    font-weight: 500;
}
/* footer section end  */

/* responsive media queary */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-ul,
    .feature-container,
    .experience
     {
        flex-direction: column;
    }

    .banner-title {
        font-size: 2.3rem;
    }

    .banner-image {
        margin: 0;
    }

    .navbar {
        margin-bottom: 30px;
    }

    #ten-year{
        font-size: 3.5rem;
    }

    .feature-content , .facts-container , .sponser-icon {
        grid-template-columns: repeat(1, 1fr);

    }

    .feature-text {
        margin: 15px;
    }
    .facts-container {
        gap: 20px;
        justify-items: center;
    }
    .sponser-icon{
        gap: 50px;
        justify-items: center;
    }
    .experience{
        justify-items: center;
    }
    #btn{
        margin-left: 100px;
        margin-right: 100px;
        padding: 21px;
    }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .feature-container, .experience {
        flex-direction: column;
    }
    .sponser-icon{
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-items: center;
        justify-content: center;
    }
        #btn{
            margin-left: 100px;
            margin-right: 100px;
            padding: 21px;
    }
}